/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/

html {
    height:100%
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

/* from Bulma */
/*
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
*/




/* ------------------------------- Home Page */
/* --------------- Nav icons */
.my-account { 
    color: #e28913;
}


.wish-list { 
    color: #e52d23;
}


.my-basket {
    color: #1aa9e3;
}

/* --------------- Delivery Banner */
.delivery-bg {
    background: #fece2f;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* --------------------- Shop Now Buttons */
.home-section-heading {
    font-size: 60px;
    font-weight: 400;
}

button.homewear-shop-now.btn.rounded-0 {
    background-color: #1aa9e2;
    color: #fff;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: block;
}

button.homewear-shop-now.btn.rounded-0:hover {
    background-color: #1482ad;
}

button.stationary-shop-now.btn.rounded-0 {
    background-color: #e28913;
    color: #fff;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: block;
}

button.stationary-shop-now.btn.rounded-0:hover {
    background-color: #c77100;
}

button.gifts-shop-now.btn.rounded-0 {
    background-color: #1a67d8;
    color: #fff;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: block;
}

button.gifts-shop-now.btn.rounded-0:hover {
    background-color: #134999;
}

button.offers-shop-now.btn.rounded-0 {
    background-color: #e62d24;
    color: #fff;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    display: block;
}

button.offers-shop-now.btn.rounded-0:hover {
    background-color: #a3150d;
}

/* ------------- Dividing rules on home page */
.home-hr {
    border-top: 2px solid rgb(223, 223, 223);
    width: 90%;
}

/* ------------- Product home page section */
.product-section-home-page{
    padding-top: 35px;
    padding-bottom: 35px;
}






















/* ------------------------------------- error page */
/* Code used from Code Institute Boutique Ado walkthrough project */
.error-page-bg {
        background: url('/media/error-page-image.jpg') no-repeat center center fixed;
        background-size: cover;
    height: calc(100vh - 164px);
}


/* -------------------------------------------- Footer */
.footer {
    background: #fece2f;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100vw;
}

.footer-heading {
    text-align: center;
    color: #1a67d8;
}

/* ------ Social Media styling used from my Go Tennis MS1 but colours amended */
.social-media {
    font-size: 20px;
    padding-right: 16px;
    text-align: center;
  }
  
  .social-media a {
    color: #1a67d8;
  }
  
  .social-media a:hover {
    color: #6e97af;
  }


.footer-credit {
    text-align: center;
    font-size: small;
}

.lego-tm {
    font-size: x-small;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/


/* ---------------------------------------------- Media Queries */

/* Slightly larger container for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }    
}



/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

