/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/

html {
    height:100%
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: black;
    color: #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #fff;
}

/* from Bulma */
/*
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
*/




/* ------------------------------- Home Page */
/* --------------- Nav icons */
.my-account { 
    color: #e28913;
}


.wish-list { 
    color: #e52d23;
}


.my-basket {
    color: #1aa9e3;
}


/* --------------------- Shop Now Buttons */
.home-section-heading {
    font-size: 60px;
    font-weight: 400;
}

.homewear-shop-now {
    background-color: #1aa9e2;
    border-color: #1aa9e2;
    color: #fff;
    text-align: center;
    width: 30%;
    height: 15%;
  
}

.homewear-shop-now:hover {
    background-color: #189ace;
    border-color: #189ace;
}

.stationary-shop-now {
    background-color: #e28913;
    border-color: #e28913;
    color: #fff;
    text-align: center;
    width: 30%;
    height: 15%;
}

.stationary-shop-now:hover {
    background-color: #d17f14;
    border-color: #d17f14;
}

.gifts-shop-now {
    background-color: #1a67d8;
    border-color: #1a67d8;
    color: #fff;
    text-align: center;
    width: 30%;
    height: 15%;
    justify-items: center;
}

.gifts-shop-now:hover {
    background-color: #134999;
    border-color: #134999;
}

.offers-shop-now {
    background-color: #e62d24;
    border-color: #e62d24;
    color: #fff;
    text-align: center;
    width: 30%;
    height: 15%;
}

.offers-shop-now:hover {
    background-color: #b9221a;
    border-color: #b9221a;
}

/* ------------- Dividing rules */
.home-hr {
    border-top: 2px solid rgb(223, 223, 223);
    width: 90%;
}

/* ------------- Product home page section */
.product-section-home-page{
    padding-top: 35px;
    padding-bottom: 35px;
}



/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/


/* ---------------------------------------------- Media Queries */

/* Slightly larger container for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }    
}



/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

