<!-- Taken from my Go Tennis System MS1 and altered for my project -->

<section class="footer">
    <footer>
        <!-- Contact Us  -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4 text-md-start">
                    <p class="footer-heading">To contact us by email please click <a
                            href="mailto:lwol-enquiries@little-world-of-lego.com">here</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <!-- Social Media  -->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4 text-md-start social">
                    <ul class="social-media">
                        <li class="list-inline-item social-media">
                            <a href="https://www.facebook.com/groups/4103083309803153/" target="_blank">
                                <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-media">
                            <a href="https://twitter.com/LittleLegoWorld" target="_blank">
                                <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-media">
                            <a href="https://www.instagram.com/little_world_of_lego/" target="_blank">
                                <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item social-media">
                            <a href="https://www.linkedin.com/groups/9163847" target="_blank">
                                <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- T&Cs  -->
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
                    <a class="footer-heading" href="{% url 'terms' %}">Terms and Conditions</a>
                </div>
            </div>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <p class="footer-credit"><em>This site has been designed by Andrew Harding and made for educational purposes
                only. Unfortunately no orders can or will be fulfilled.</em></p>
        <p class="lego-tm">The name Lego is copyright and a trademark of the Lego Group</p>
    </footer>
</section>