/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #1a67d8 !important;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* Form boxes */
.form-control {
    border: 1px solid #1a67d8 !important;
    min-width: fit-content;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/* Border boxes for form and order summary */
.checkout-details-border {
    border: 1px solid #1a67d8 !important;
    padding-top: 10px;
    max-width: fit-content;
    height: fit-content;
    margin-right: 1rem;
}

.order-col-orange-border {
  border: 1px solid #ffc107 !important;
  height: fit-content;
  width: fit-content;
  padding-bottom: 10px;
}

/* buttons */
.adjust-basket-button,
.back-to-profile-button {
    border-color: #1a67d8;
}

.adjust-basket-button:hover,
.back-to-profile-button:hover {
    color: #1a67d8;
}


/* rules */
.checkout-horizontal-rule {
  background-color: #ffc107 !important;
}



/* ------------------------------------- Checkout success */

.order_email_confirmation {
  color: #1a67d8;
}

.checkout-success-border {
  border: 1px solid #1a67d8 !important;
}

/* Code below taken from Code Institute Boutique Ado Walkthrough Project*/

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color: #747575 !important;
}

#loading-overlay {
	      display: none;
        position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 112, 184, 0.85);
  z-index: 9999;
}

.loading-spinner {
        display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}