{% extends "base.html" %}
{% load static %}

<!-- Taken from Code Institute Boutique Ado walkthrough project -->

<title>{% block extra_title %}| Product Management | Edit product{% endblock %}</title>

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="h2-page-header">Product Management</h2>
            <h5 class="text-muted">Add a product</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}    
                {% endfor %}
                <div class="text-right">
                    <a class="btn rounded-0 cancel-product-button" type="submit" href="{% url 'products' %}">Cancel</a>
                    <button class="btn rounded-0 product-management-button" type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mt-4"></div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function () {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
        });
    </script>
{% endblock %}